# **Loading the dataset**

In [169]:
import pandas as pd 
import numpy as np
import time

In [170]:
df = pd.read_csv('Retail-data.csv')

In [171]:
df.head(10)

,hour,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,...,total_sales,ordered_item_quantity,net_quantity,returned_item_quantity,order_name,product_type,product_title,product_vendor,variant_title,api_client_title
0,23-05-2021 00:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,23-05-2021 01:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,23-05-2021 02:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,23-05-2021 03:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,23-05-2021 04:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,23-05-2021 05:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,23-05-2021 06:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,23-05-2021 07:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,23-05-2021 08:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,23-05-2021 09:00,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
# converting the time object into separate columns 

df['hour'] = pd.to_datetime(df['hour'])
df['year'] = df['hour'].dt.year
df['month'] = df['hour'].dt.month
df['week'] = df['hour'].dt.week
df['day'] = df['hour'].dt.day
df['name'] = df['hour'].dt.weekday

C:\Users\Amitesh Kumar\AppData\Local\Temp\ipykernel_4536\833428635.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week'] = df['hour'].dt.week

In [173]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
order_id,101929.0,4.166395e+12,1.084800e+12,0.00,4.013270e+12,4.580600e+12,4.677140e+12,4.766070e+12
customer_id,101929.0,4.646366e+12,1.895350e+12,0.00,5.269060e+12,5.283720e+12,5.380540e+12,6.229830e+12
product_id,101929.0,5.164254e+12,2.765212e+12,0.00,5.908390e+12,6.659360e+12,6.747460e+12,7.706230e+12
product_price,101929.0,3.029806e+00,3.000681e+00,0.00,1.350000e+00,2.390000e+00,3.790000e+00,1.290000e+02
variant_id,101929.0,3.107043e+13,1.654758e+13,0.00,3.696630e+13,3.994250e+13,4.017080e+13,4.304960e+13
orders,101929.0,9.349253e-01,2.466588e-01,0.00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
gross_sales,101929.0,6.113423e+00,6.179441e+00,0.00,2.800000e+00,4.720000e+00,7.320000e+00,2.132200e+02
discounts,101929.0,-1.589695e-01,9.943808e-01,-69.50,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
returns,101929.0,-1.939880e-02,6.742853e-01,-90.06,0.000000e+00,0.000000e+00,0.000000e+00,3.132000e+01
net_sales,101929.0,5.935055e+00,6.052408e+00,-90.06,2.740000e+00,4.560000e+00,7.300000e+00,2.132200e+02
shipping,101929.0,4.022212e-03,2.187398e-01,-11.48,0.000000e+00,0.000000e+00,0.000000e+00,1.148000e+01
taxes,101929.0,5.300688e-01,7.011460e-01,-18.92,1.600000e-01,3.800000e-01,6.600000e-01,4.478000e+01
total_sales,101929.0,6.469145e+00,6.655866e+00,-108.98,2.980000e+00,4.980000e+00,7.960000e+00,2.580000e+02
ordered_item_quantity,101929.0,1.080939e+00,6.209893e-01,0.00,1.000000e+00,1.000000e+00,1.000000e+00,2.400000e+01
net_quantity,101929.0,1.078486e+00,6.264933e-01,-7.00,1.000000e+00,1.000000e+00,1.000000e+00,2.400000e+01
returned_item_quantity,101929.0,-2.452688e-03,5.921374e-02,-7.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
year,101929.0,2.021445e+03,4.969602e-01,2021.00,2.021000e+03,2.021000e+03,2.022000e+03,2.022000e+03
month,101929.0,6.405106e+00,3.493536e+00,1.00,3.000000e+00,6.000000e+00,1.000000e+01,1.200000e+01
week,101929.0,2.584478e+01,1.516951e+01,1.00,1.300000e+01,2.500000e+01,4.000000e+01,5.200000e+01
day,101929.0,1.572878e+01,8.890644e+00,1.00,8.000000e+00,1.600000e+01,2.300000e+01,3.100000e+01
name,101929.0,3.321449e+00,1.865406e+00,0.00,2.000000e+00,3.000000e+00,5.000000e+00,6.000000e+00

# **Imputation techniques**

In [174]:
from sklearn.impute import SimpleImputer

In [175]:
df.dtypes

hour                      datetime64[ns]
order_id                         float64
customer_id                      float64
product_id                       float64
product_price                    float64
variant_id                       float64
orders                             int64
gross_sales                      float64
discounts                        float64
returns                          float64
net_sales                        float64
shipping                         float64
taxes                            float64
total_sales                      float64
ordered_item_quantity              int64
net_quantity                       int64
returned_item_quantity             int64
order_name                        object
product_type                      object
product_title                     object
product_vendor                    object
variant_title                     object
api_client_title                  object
year                               int64
month                              int64
week                               int64
day                                int64
name                               int64
dtype: object

In [176]:
df.isnull().sum()

hour                          0
order_id                      0
customer_id                   0
product_id                    0
product_price                 0
variant_id                    0
orders                        0
gross_sales                   0
discounts                     0
returns                       0
net_sales                     0
shipping                      0
taxes                         0
total_sales                   0
ordered_item_quantity         0
net_quantity                  0
returned_item_quantity        0
order_name                 5961
product_type              22861
product_title              6483
product_vendor            22366
variant_title             31316
api_client_title           5961
year                          0
month                         0
week                          0
day                           0
name                          0
dtype: int64

In [177]:
#strategy= mean,median,mode    : mean is default
#verbose=0 for column , 1 for row    : 0 is default

si_mf = SimpleImputer(strategy='most_frequent',add_indicator=True)

In [178]:
df['order_name'].isnull().sum()

5961

In [179]:
#dealing with categorical variables
start_time = time.time()

df['order_name']=si_mf.fit_transform(df[['order_name']])
df['product_type']=si_mf.fit_transform(df[['product_type']])
df['product_title']=si_mf.fit_transform(df[['product_title']])
df['product_vendor']=si_mf.fit_transform(df[['product_vendor']])
df['variant_title']=si_mf.fit_transform(df[['variant_title']])
df['api_client_title']=si_mf.fit_transform(df[['api_client_title']])

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.2114882469177246 seconds ---

In [180]:
df.isnull().sum()

hour                      0
order_id                  0
customer_id               0
product_id                0
product_price             0
variant_id                0
orders                    0
gross_sales               0
discounts                 0
returns                   0
net_sales                 0
shipping                  0
taxes                     0
total_sales               0
ordered_item_quantity     0
net_quantity              0
returned_item_quantity    0
order_name                0
product_type              0
product_title             0
product_vendor            0
variant_title             0
api_client_title          0
year                      0
month                     0
week                      0
day                       0
name                      0
dtype: int64

In [181]:
# dealing with numeric variables

si_mean = SimpleImputer(missing_values=0.0,strategy='mean',add_indicator=True)

In [182]:

start_time = time.time()

df['order_id']=si_mean.fit_transform(df[['order_id']])
#df['hour']=si_mean.fit_transform(df[['hour']])
df['customer_id']=si_mean.fit_transform(df[['customer_id']])
df['product_id']=si_mean.fit_transform(df[['product_id']])
df['product_price']=si_mean.fit_transform(df[['product_price']])
df['variant_id']=si_mean.fit_transform(df[['variant_id']])
df['gross_sales']=si_mean.fit_transform(df[['gross_sales']])
df['discounts']=si_mean.fit_transform(df[['discounts']])
df['returns']=si_mean.fit_transform(df[['returns']])
df['net_sales']=si_mean.fit_transform(df[['net_sales']])
df['shipping']=si_mean.fit_transform(df[['shipping']])
df['taxes']=si_mean.fit_transform(df[['taxes']])
df['total_sales']=si_mean.fit_transform(df[['total_sales']])
df['ordered_item_quantity']=si_mean.fit_transform(df[['ordered_item_quantity']])
df['net_quantity']=si_mean.fit_transform(df[['net_quantity']])
df['returned_item_quantity']=si_mean.fit_transform(df[['returned_item_quantity']])

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.3869602680206299 seconds ---

In [183]:
df.head()

,hour,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,...,product_type,product_title,product_vendor,variant_title,api_client_title,year,month,week,day,name
0,2021-05-23 00:00:00,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
1,2021-05-23 01:00:00,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
2,2021-05-23 02:00:00,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
3,2021-05-23 03:00:00,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
4,2021-05-23 04:00:00,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6

In [184]:
df.order_name.nunique()

19374

In [186]:
# the columns can be imputed separately as shown above.
# Moreover, using the for loop can make the code easier and shorter
# we have to drop the categorical variable columns before usng this for loop 
# because 'mean' can be used to impute only continuous variables
'''
for col_name in list(df.columns):
        df[col_name]=si_mean.fit_transform(df[[col_name]])
        
    
#    print(col_name)

'''

'\nfor col_name in list(df.columns):\n        df[col_name]=si_mean.fit_transform(df[[col_name]])\n        \n    \n#    print(col_name)\n\n'

In [187]:
df.head()

,hour,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,...,product_type,product_title,product_vendor,variant_title,api_client_title,year,month,week,day,name
0,1.621728e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
1,1.621732e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
2,1.621735e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
3,1.621739e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
4,1.621742e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6

In [188]:
si_mean.statistics_

array([-1.15740741])

#  MICE algorithm

In [189]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [190]:
df1 = pd.read_csv('Retail-data.csv')

In [191]:
df1.columns

Index(['hour', 'order_id', 'customer_id', 'product_id', 'product_price',
       'variant_id', 'orders', 'gross_sales', 'discounts', 'returns',
       'net_sales', 'shipping', 'taxes', 'total_sales',
       'ordered_item_quantity', 'net_quantity', 'returned_item_quantity',
       'order_name', 'product_type', 'product_title', 'product_vendor',
       'variant_title', 'api_client_title'],
      dtype='object')

In [192]:
df1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
order_id,101929.0,4.166395e+12,1.084800e+12,0.00,4.013270e+12,4.580600e+12,4.677140e+12,4.766070e+12
customer_id,101929.0,4.646366e+12,1.895350e+12,0.00,5.269060e+12,5.283720e+12,5.380540e+12,6.229830e+12
product_id,101929.0,5.164254e+12,2.765212e+12,0.00,5.908390e+12,6.659360e+12,6.747460e+12,7.706230e+12
product_price,101929.0,3.029806e+00,3.000681e+00,0.00,1.350000e+00,2.390000e+00,3.790000e+00,1.290000e+02
variant_id,101929.0,3.107043e+13,1.654758e+13,0.00,3.696630e+13,3.994250e+13,4.017080e+13,4.304960e+13
orders,101929.0,9.349253e-01,2.466588e-01,0.00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
gross_sales,101929.0,6.113423e+00,6.179441e+00,0.00,2.800000e+00,4.720000e+00,7.320000e+00,2.132200e+02
discounts,101929.0,-1.589695e-01,9.943808e-01,-69.50,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
returns,101929.0,-1.939880e-02,6.742853e-01,-90.06,0.000000e+00,0.000000e+00,0.000000e+00,3.132000e+01
net_sales,101929.0,5.935055e+00,6.052408e+00,-90.06,2.740000e+00,4.560000e+00,7.300000e+00,2.132200e+02
shipping,101929.0,4.022212e-03,2.187398e-01,-11.48,0.000000e+00,0.000000e+00,0.000000e+00,1.148000e+01
taxes,101929.0,5.300688e-01,7.011460e-01,-18.92,1.600000e-01,3.800000e-01,6.600000e-01,4.478000e+01
total_sales,101929.0,6.469145e+00,6.655866e+00,-108.98,2.980000e+00,4.980000e+00,7.960000e+00,2.580000e+02
ordered_item_quantity,101929.0,1.080939e+00,6.209893e-01,0.00,1.000000e+00,1.000000e+00,1.000000e+00,2.400000e+01
net_quantity,101929.0,1.078486e+00,6.264933e-01,-7.00,1.000000e+00,1.000000e+00,1.000000e+00,2.400000e+01
returned_item_quantity,101929.0,-2.452688e-03,5.921374e-02,-7.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [193]:
# dropping the categorical variable columns
cat =df1.drop(['order_name','hour','product_type','product_title','product_vendor','variant_title','api_client_title'], axis=1,inplace=True)

In [194]:
from sklearn.preprocessing import normalize

In [195]:
'''
nor = normalize(df1)
norm_data= pd.DataFrame(nor)
norm_data.head()
'''

'\nnor = normalize(df1)\nnorm_data= pd.DataFrame(nor)\nnorm_data.head()\n'

In [196]:
df1.dtypes

order_id                  float64
customer_id               float64
product_id                float64
product_price             float64
variant_id                float64
orders                      int64
gross_sales               float64
discounts                 float64
returns                   float64
net_sales                 float64
shipping                  float64
taxes                     float64
total_sales               float64
ordered_item_quantity       int64
net_quantity                int64
returned_item_quantity      int64
dtype: object

In [197]:
start_time = time.time()


Mice_Imputed_df = df1.copy(deep=True)
mice_imputer = IterativeImputer(missing_values=0.0,max_iter=10,initial_strategy='mean',tol=1e-10)
Mice_Imputed_df.iloc[:]= mice_imputer.fit_transform(df1)

print("--- %s seconds ---" % (time.time() - start_time))

C:\Users\Amitesh Kumar\anaconda3\lib\site-packages\sklearn\impute\_iterative.py:713: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

--- 34.72118616104126 seconds ---

In [198]:
Mice_Imputed_df.head()

,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,ordered_item_quantity,net_quantity,returned_item_quantity
0,-6.451781e+54,-1.633025e+54,1.184739e+54,2.806783e+52,1.497812e+52,1.0,-2.031352e+52,-4.638140e+51,3.776839e+49,-8.820520e+52,5.625453e+55,-4.878230e+52,-1.385208e+53,1.904391e+51,1.771632e+51,-9.970493e+46
1,-6.451781e+54,-1.633025e+54,1.184739e+54,2.806783e+52,1.497812e+52,1.0,-2.031352e+52,-4.638140e+51,3.776839e+49,-8.820520e+52,5.625453e+55,-4.878230e+52,-1.385208e+53,1.904391e+51,1.771632e+51,-9.970493e+46
2,-6.451781e+54,-1.633025e+54,1.184739e+54,2.806783e+52,1.497812e+52,1.0,-2.031352e+52,-4.638140e+51,3.776839e+49,-8.820520e+52,5.625453e+55,-4.878230e+52,-1.385208e+53,1.904391e+51,1.771632e+51,-9.970493e+46
3,-6.451781e+54,-1.633025e+54,1.184739e+54,2.806783e+52,1.497812e+52,1.0,-2.031352e+52,-4.638140e+51,3.776839e+49,-8.820520e+52,5.625453e+55,-4.878230e+52,-1.385208e+53,1.904391e+51,1.771632e+51,-9.970493e+46
4,-6.451781e+54,-1.633025e+54,1.184739e+54,2.806783e+52,1.497812e+52,1.0,-2.031352e+52,-4.638140e+51,3.776839e+49,-8.820520e+52,5.625453e+55,-4.878230e+52,-1.385208e+53,1.904391e+51,1.771632e+51,-9.970493e+46

In [199]:
df1.head(5)

,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,net_sales,shipping,taxes,total_sales,ordered_item_quantity,net_quantity,returned_item_quantity
0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0

In [200]:
Mice_Imputed_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
order_id,101929.0,-3.773123e+53,1.513933e+54,-6.451781e+54,4.013270e+12,4.580600e+12,4.677140e+12,4.766070e+12
customer_id,101929.0,-9.550241e+52,3.831952e+53,-1.633025e+54,5.274140e+12,5.294130e+12,5.411110e+12,6.229830e+12
product_id,101929.0,6.928580e+52,2.780033e+53,-6.016753e+13,6.628120e+12,6.723070e+12,6.769820e+12,1.184739e+54
product_price,101929.0,1.641460e+51,6.586217e+51,-1.057885e+07,1.690000e+00,2.690000e+00,4.260000e+00,2.806783e+52
variant_id,101929.0,8.759487e+50,3.514669e+51,-1.561778e+14,3.964809e+13,3.998450e+13,4.029500e+13,1.497812e+52
orders,101929.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
gross_sales,101929.0,-1.187973e+51,4.766640e+51,-2.031352e+52,2.900000e+00,4.760000e+00,7.320000e+00,4.080386e+06
discounts,101929.0,-2.712472e+50,1.088356e+51,-4.638140e+51,-1.400000e-01,-5.817287e-02,-3.812905e-02,4.682039e+06
returns,101929.0,2.208767e+48,8.862488e+48,-9.006000e+01,-7.952365e+00,-7.850099e+00,-7.708350e+00,3.776839e+49
net_sales,101929.0,-5.158407e+51,2.069767e+52,-8.820520e+52,2.780000e+00,4.560000e+00,7.300000e+00,2.132200e+02
shipping,101929.0,3.289871e+54,1.320033e+55,-7.505153e+14,-2.096017e+14,-3.692988e+13,3.848712e+13,5.625453e+55
taxes,101929.0,-2.852881e+51,1.144694e+52,-4.878230e+52,1.600000e-01,3.800000e-01,6.600000e-01,4.478000e+01
total_sales,101929.0,-8.100959e+51,3.250440e+52,-1.385208e+53,3.000000e+00,4.980000e+00,7.960000e+00,2.580000e+02
ordered_item_quantity,101929.0,1.113724e+50,4.468722e+50,-2.637691e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.904391e+51
net_quantity,101929.0,1.036084e+50,4.157198e+50,-7.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.771632e+51
returned_item_quantity,101929.0,-5.830932e+45,2.339612e+46,-9.970493e+46,-1.144818e+00,-1.143400e+00,-1.141178e+00,1.355412e-01

In [201]:
df.head(10)

,hour,order_id,customer_id,product_id,product_price,variant_id,orders,gross_sales,discounts,returns,...,product_type,product_title,product_vendor,variant_title,api_client_title,year,month,week,day,name
0,1.621728e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
1,1.621732e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
2,1.621735e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
3,1.621739e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
4,1.621742e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
5,1.621746e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
6,1.621750e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
7,1.621753e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
8,1.621757e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6
9,1.621760e+18,4.425188e+12,5.403857e+12,6.619642e+12,3.235804,3.982718e+13,1.0,6.539286,-1.181882,-8.906757,...,Sweets & Snacks,Coriander Leaves (Per Bunch),dbanyan,200 g,Point of Sale,2021,5,20,23,6

# ** rough work**

In [202]:
from sklearn.preprocessing import OneHotEncoder

OHE = OneHotEncoder(handle_unknown='ignore')
d= OHE.fit_transform(cat)

ValueError: Expected 2D array, got scalar array instead:
array=None.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
mice_imputer.imputation_sequence_

In [ ]:
df[df['order_name'==1]]